# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Log files
logs/
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/

# Other
*Copy.py
PromtBackup/
